<div class="class hero is-primary has-background-info is-fullheight">
  <div class="class container has-text-centered">

    <form action="/api/games/addgame" method="POST">
      <h3>What is the name of your game?</h3>
      <input type="text" name="gameName" placeholder="Game Name" />
      <h3>What type of game is it?</h3>
      <div class="select">
        <select name="GameType">
          <option value="rpg">RPG</option>
          <option value="card">Card Game</option>
          <option value="board">Board Game</option>
        </select>
      </div>
      <h3>What is the length of your game in minutes?</h3>
      <input type="text" name="maxGameLength" placeholder="Maximum" />
      <input type="text" name="minGameLength" placeholder="Minimum" />
      <h3>How many players can play your game?</h3>
      <input type="text" name="maxNumberOfPlayers" placeholder="Maximum" />
      <input type="text" name="minNumberOfPlayers" placeholder="Minimum" />
      <h3>What is a description of your game?</h3>
      <input type="text" name="gameDescription" placeholder="Description" />
      <button type="submit">Submit</button>
    </form>

  </div>
</div>