    {{!-- When they render this homepage, generate 5-8 random cards, use each helper --}}

    {{!-- Now, use each helper to iterate over the data that is sent from the back end route --}}
    {{!-- put the outer divs that need to wrap the cards here  --}}
        <div class="columns">
        <div class="column is-mobile">
    {{#each games as |game|}}
    {{!-- put card generation html --}}
    {{!-- on server side, pull first 5 games to return --}}
    {{!--  --}}
    {{>gamedetails}}
    {{/each}}
    </div>
    </div>d